.journey {
  position: relative;

  display: flex;
  align-items: center;

  width: 1184px;
  min-height: 740px;
  margin: 0 auto 92px;

  background-image: url("../../images/trains.png");
  background-size: cover;
}

.journey:hover > .journey__overlay {
  opacity: 0.8;
}

@media screen and (width <= 1200px) {
  .journey {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (width <= 1023px) {
  .journey {
    min-height: 480px;
    margin-bottom: 88px;
  }
}

@media screen and (width <= 767px) {
  .journey {
    width: 425px;
    min-height: 266px;
    margin-bottom: 64px;
  }
}

@media screen and (width <= 424px) {
  .journey {
    width: 340px;
    min-height: 212px;
  }
}

@media screen and (width <= 365px) {
  .journey {
    width: 320px;
    min-height: 200px;
  }
}
