.places__image {
  grid-area: image;
  width: 460px;
  height: 460px;
}

@media screen and (width <= 1024px) {
  .places__image {
    width: 440px;
    height: 440px;
  }
}

@media screen and (width <= 970px) {
  .places__image {
    width: 340px;
    height: 340px;
  }
}

@media screen and (width <= 365px) {
  .places__image {
    width: 320px;
    height: 320px;
  }
}
