.places__place-card {
  display: grid;
  grid-template:
    "title link" fit-content(460px)
    "image description" fit-content(460px)
    / 460px 484px;
  gap: 48px 40px;
}

.places__place-card + .places__place-card {
  margin-top: 80px;
}

@media screen and (width <= 1024px) {
  .places__place-card {
    grid-template-columns: 440px 456px;
    gap: 48px 38px;
  }
}

@media screen and (width <= 970px) {
  .places__place-card {
    grid-template-columns: 340px 352px;
    gap: 48px 28px;
  }

  .places__place-card + .places__place-card {
    margin-top: 73px;
  }
}

@media screen and (width <= 750px) {
  .places__place-card {
    grid-template:
      "title" fit-content(1000px)
      "link" fit-content(1000px)
      "image" fit-content(1000px)
      "description" fit-content(1000px)
      / 340px;
    gap: 32px;
  }

  .places__place-card + .places__place-card {
    margin-top: 50px;
  }
}

@media screen and (width <= 365px) {
  .places__place-card {
    grid-template-columns: 320px;
    justify-items: center;
  }
}
