.lead__title {
  max-width: 720px;
  margin: 0;
  padding-top: 56px;

  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

@media screen and (width <= 1024px) {
  .lead__title {
    padding-top: 48px;
  }
}

@media screen and (width <= 767px) {
  .lead__title {
    max-width: 425px;
    font-size: 54px;
    line-height: 58px;
  }
}

@media screen and (width <= 400px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
