.intro {
  max-width: 984px;
  margin: 92px auto;
}

@media screen and (width <= 1024px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (width <= 960px) {
  .intro {
    max-width: 768px;
    margin: 88px auto;
  }
}

@media screen and (width <= 800px) {
  .intro {
    max-width: 720px;
  }
}

@media screen and (width <= 767px) {
  .intro {
    max-width: 425px;
    margin: 64px auto;
  }
}

@media screen and (width <= 446px) {
  .intro {
    max-width: 320px;
  }
}

@media screen and (width <= 346px) {
  .intro {
    max-width: 288px;
  }
}
