.lead__subtitle {
  max-width: 640px;
  margin: 32px 0 64px;

  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

@media screen and (width <= 1024px) {
  .lead__subtitle {
    margin: 32px 0 56px;
  }
}

@media screen and (width <= 767px) {
  .lead__subtitle {
    max-width: 425px;
    margin: 20px 0 40px;
    font-size: 20px;
    line-height: 26px;
  }
}

@media screen and (width <= 400px) {
  .lead__subtitle {
    max-width: 288px;
    margin: 16px 0 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
