.intro__content {
  max-width: 690px;
  margin: 0 0 34px;

  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (width <= 800px) {
  .intro__content {
    max-width: 100%;
  }
}
